# Uvod u Python Pandas 
## Četvrti deo

## Pandas metode Mean, Median i Mode

- Mean - prosečna vrednost
- Median - srednja vrednost
- Mode - najčešća vrednost

### Pandas DataFrame `mean()` metod
Metod `mean()`vraća Series sa prosečnom vrednošću svake kolone

In [1]:
# Odredi prosečnu (srednju) vrednost za svaku kolonu

import pandas as pd

data = [[1, 1, 2], [6, 4, 2], [4, 2, 1], [4, 2, 3]]

df = pd.DataFrame(data)
df

   0  1  2
0  1  1  2
1  6  4  2
2  4  2  1
3  4  2  3

In [2]:
print(df.mean())

0    3.75
1    2.25
2    2.00
dtype: float64

### Sintaksa
`dataframe.mean(axis, skipna, level, numeric_only, kwargs)`

Parametri:
- axis: {index (0), columns (1)} 
> Opciono, osa na koju treba primeniti funkciju. Podrazumevana vrednost je 0.


- skipna: bool, podrazumevano True
>Isključuje NA/null vrednosti prilikom izračunavanja rezultata.

- level: int ili ime nivoa
>Opciono, podrazumevano None. Određuje koji nivo (u hijerarhijskom više indeksu) da proverite

- numeric_only: bool
>Opciono. Odredite da li želite da proverite samo numeričke vrednosti. Podrazumevano None

- **kwargs
> Opcioni, argumenti ključne reči. Ovi argumenti nemaju efekta, ali ih može prihvatiti funkcija NumPi

Metoda vraća:
Series ili DataFrame ako je naveden nivo

In [3]:
import pandas as pd
  

df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})
  

df.mean(axis = 0)

A     5.50
B    16.50
C    11.60
D     6.25
dtype: float64

In [4]:
import pandas as pd
  

df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})
  

df.mean(axis = 1, skipna = True)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

### Vežbe
Za sledeće vežbe, koristite skup podataka IMDB-Movie-Data.csv sa skupom naslova kao indeksom (Title).  
Dobra praksa je da skratite svoj izlaz metodom head().
### Vežba 1

Izračunati prosečnu vrednost za kolonu *Rating*

### Pandas DataFrame `median()` metod
Metod `median()`vraća Series sa srednjom vrednošću svake kolone

In [5]:
import pandas as pd

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
spead = speed.sort()
speed

[77, 78, 85, 86, 86, 86, 87, 87, 88, 94, 99, 103, 111]

77, 78, 85, 86, 86, 86, **87**, 87, 88, 94, 99, 103, 111

In [6]:
df = pd.DataFrame(speed)
df.median()

0    87.0
dtype: float64

Ako su u sredini dva broja median će biti aritmetička sredina tih brojeva

77, 78, 85, 86, 86, **86**, **87** 88, 94, 99, 103, 111

In [7]:
import pandas as pd

speed1 = [99,86,87,88,111,86,103,94,78,77,85,86]

df = pd.DataFrame(speed1)
df.median()

0    86.5
dtype: float64

In [8]:
# Odredi srednju vrednost za svaku kolonu
import pandas as pd

data = [[1, 1, 2], [6, 4, 2], [4, 2, 1], [4, 2, 3]]

df = pd.DataFrame(data)
df

   0  1  2
0  1  1  2
1  6  4  2
2  4  2  1
3  4  2  3

In [9]:
print(df.median())

0    4.0
1    2.0
2    2.0
dtype: float64

In [10]:
import pandas as pd
  
# Kreiranje dataframe-a 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})
  

df.median(axis = 1)

# Obrazložiti izlaz

0    13.0
1     3.5
2    11.0
3     3.0
4     6.0
dtype: float64

### Vežba 2
Izračunati srednju vrednost za kolonu Rating.

### Pandas DataFrame `mode()` metod
Metod `mode()`vraća DataFrame sa vrednostima koje se najviše puta pojavljuju u određenoj koloni

In [11]:
speed1 = [99,86,87,88,111,86,103,94,78,77,85,86]

df = pd.DataFrame(speed1)
df.mode()

    0
0  86

In [12]:
import pandas as pd

data = [[1, 1, 2], [6, 4, 2], [4, 2, 1], [4, 2, 3]]

df = pd.DataFrame(data)
print (df)
df.mode()

   0  1  2
0  1  1  2
1  6  4  2
2  4  2  1
3  4  2  3

   0  1  2
0  4  2  2

### Vežba 3
Odrediti najčešću vrednost za kolone Rating i Year.

### Vežba 4
1. Učitati skup podataka weather.csv  
2. Izračunati prosečnu temperaturu, srednju vrednost za kolonu temperature 
3. Za period od 2018-11-09 do 2018-11-16 izračunati prosečnu temperaturu, a zatim prikazati linijskim dijagramom temperature po danima za navedeni period.

In [13]:
# prosečna temperatura za period od 2018-11-09 do 2018-11-16